/* Assigns values to variables */
:root {
    --christmasFont: 'Mountains of Christmas', cursive;
    --christmasPrimaryBackground: darkgreen;
    --christmasPrimaryColor: silver;
    --christmasSecondaryColor: darkred;
    --halloweenFont: 'Creepster', cursive;
    --halloweenPrimaryBackground: black;
    --halloweenPrimaryColor: orange;
    --halloweenSecondaryColor: red;
    --headline-font: 80px;
    --subhead-font: 50px;
}

.christmas {
    --displayChristmas: block;
    --displayHalloween: none;
    --fontFamily: var(--christmasFont);
    --primaryBackground: var(--christmasPrimaryBackground);
    --primaryColor: var(--christmasPrimaryColor);
    --secondaryColor: var(--christmasSecondaryColor);
}

.halloween {
    --displayChristmas: none;
    --displayHalloween: block;
    --fontFamily: var(--halloweenFont);
    --primaryBackground: var(--halloweenPrimaryBackground);
    --primaryColor: var(--halloweenPrimaryColor);
    --secondaryColor: var(--halloweenSecondaryColor);
}

/* Variables are consumed by using `var(--variable-name)` format. */
body {
    background-color: var(--primaryBackground);
    font-family: var(--fontFamily);
}

h1 {
    color: var(--primaryColor);
    font-size: var(--headline-font);
}

h2 {
    color: var(--secondaryColor);
    font-size: var(--subhead-font);
}

.displayChristmas {
    display: var(--displayChristmas);
}

.displayHalloween {
    display: var(--displayHalloween);
}

.switch-theme {
    background-color: white;
    color: black;
    padding: 5px 25px;
    position: fixed;
    right: 0;
    top: 0;
}